@using SWeb.Models
@model SWeb.Models.Producto

<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Registrar Producto</h5>

        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-secondary text-center">@ViewBag.Mensaje</div>
        }

        <form asp-action="RegistrarProducto" asp-controller="Producto" enctype="multipart/form-data">

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input type="text" asp-for="Precio" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Inventario</label>
                <input type="text" asp-for="Inventario" class="form-control">
            </div>

            <div class="mb-4">
                <label class="form-label">Imagen</label>
                <input type="file" class="form-control" accept="image/png" id="ImagenProducto" name="ImagenProducto">
            </div>

            <input type="submit" class="btn btn-primary" value="Procesar">

        </form>

    </div>
</div>